<div class="bgimg">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Micro Learner</a>
                </div>
                <div class="pull-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="Home">
        <div class="lander">
            <h1 class="dope">Micro Learning App</h1>
        </div>
    </div>
 </div>