* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
}
body, html {
    font-family : 'Josefin Slab'; 
    font-size : 19px; 
    height: 100%;
}
.bgimg {
    height: 100%;
    background-image: url("images/catchy.png");
    background-repeat : no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 600px 180px;
}

.Home {
    font-family : 'Josefin Slab'; 
    font-size : 17px; 
}

.Home .lander {
    padding: 80px 0;
    text-align: center;
}
  
  .Home .lander h1 {
      font-family: "Amatic SC";
      font-style: normal;
      font-variant: normal;
      font-weight: bold;
}

@media all and (min-width: 480px) {
    .Signup {
      padding: 60px 0;
    }
  
    .Signup form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
  
  .Signup form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }
  
 