body {
    font-family : 'Josefin Slab'; 
    font-size : 17px; 
    background-image: url("images/catchy.png");
    background-repeat : no-repeat;
    background-position-x: 50%;
    background-position-y: -190%;
    background-size: 601px 163px;
}